wet/.idea/
wet/cmake-build-debug
wet/*.o
wet/small_prf
wet/prf
wet/debugee
wet/myout.txt
wet/small_debuger
wet/debugee_simple
wet/debugee_simple.c
wwt/my_out.txt
wet/sivan_debugee
wet/sivan_debugee.asm
wet/sivan_morpaz_debugger
wet/sivan_morpaz_debugger.c
wet/sivan_morpaz_test
wet/sivan_morpaz_test.asm
my_out.txt
